@model Game

<form asp-controller="Game" asp-action="Settings" method="post">
    <div class="form-item">
        <label asp-for="@Model.Player"></label>
        <input type="text" asp-for="@Model.Player"/>
    </div>
    <div class="form-item">
        <label asp-for="@Model.GameDifficulty"></label>
        <select asp-for="@Model.GameDifficulty" class="form-select" aria-label="Default select example">
            <option value="2">Easy(2x2)</option>
            <option value="4">Normal(4x4)</option>
            <option value="6">Hard(6x6)</option>                      
        </select>
    </div>
    <button class="mt-2 btn btn-primary" type="submit" value="Ok">Ok</button>
    <a asp-controller="Home" asp-action="Index" class="mt-2 btn btn-danger">Cancel</a>
</form>
