<div class="row mt-5">    
    <div class="col-6 offset-4">
        <img src="~/img/open_safe.jpg" width="400"/>
        <h4 class="mt-3">Сейф взломан, забирайте вашу награду</h4>
    </div>   
</div>
