@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2>Добро пожаловать в игру<br />"Сейф братьев пилотов"</h2>
    <img class="logo mt-3" src="/img/logo.webp" width="550" />
    <div class="mt-4">
        <a class="btn btn-success me-3" asp-controller="Game" asp-action="Safe">Играть</a>
        <a class="btn btn-primary" asp-controller="Game" asp-action="Settings">Настройки</a>
    </div>
</div>
